.demo-grid-wrapper {
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    /*this is so that there is 1 skinny column and a bigger column for the form*/
    grid-gap: 100px;

}


.demo-metadata-sidebar-wrapper>.demo-details-wrapper img {
    /*this is why we created the image wrapper so we can easily grab it now and style the image*/
    width: 100%;
    height: 300px;
    object-fit: cover;
    /*it maintains the aspect ratio of the image,and fits it in whatever container we dictate */
    border: 1px solid #cea135;
    border-radius: 5px;
    margin-top: 20px;
    /*this removes preset margin so that the corners of the picture are more seemless*/
}

.demo>.demo-textwrapper {
    font-family:inherit;
    display: flex;
    justify-content: center;
    /*this is to allow the text to be centered both horizontally and vertically*/
    align-items: center;
    flex-direction: column;
    /*this allows the content to be optop of each other not side by side*/
    padding: 15px;
    font-size:unset;
    font-weight:600;
    

}

.demo>.demo-textwrapper h1 {
        outline-color: #cea135;
    background-color: #cea135;
    color: #11122b;
    border-radius: 20px;
    border-bottom-right-radius: 20px;
    width: -webkit-fill-available;
    padding: 5px;
    text-align: center;

}

.demo>.demo-textwrapper ul {
    line-height: 20px;

}

.demo.demo-textwrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 45px;


}